@using ITITaskMVC.BLL.ViewModels.CourseViewModels
@using ITITaskMVC.DAL.Models
@model CourseVM

<div class="form-group">
    <label asp-for="Name"></label>
    <input asp-for="Name" class="form-control" />
    <span asp-validation-for="Name" class="text-danger"></span>
</div>

<div class="form-group">
    <label asp-for="Description"></label>
    <textarea asp-for="Description" class="form-control"></textarea>
    <span asp-validation-for="Description" class="text-danger"></span>
</div>

<div class="form-group">
    <select asp-for="Category" asp-items="@(Html.GetEnumSelectList<CategoryCourse>())" class="form-control">
        <option value="">Select a category</option>
    </select>
    <span asp-validation-for="Category" class="text-danger"></span>
</div>

<div class="form-group">
    <label asp-for="startDate"></label>
    <input asp-for="startDate" type="date" class="form-control" />
    <span asp-validation-for="startDate" class="text-danger"></span>
</div>

<div class="form-group">
    <label asp-for="endDate"></label>
    <input asp-for="endDate" type="date" class="form-control" />
    <span asp-validation-for="endDate" class="text-danger"></span>
</div>

<div class="form-check">
    <input asp-for="IsActive" class="form-check-input" />
    <label asp-for="IsActive" class="form-check-label"></label>
</div>

<div class="form-select">
    <select asp-for="InstructorId" asp-items="@(ViewData["instructors"] as IEnumerable<SelectListItem>)" class="form-control">
        <option value="">Select a instructor</option>
    </select>
    <span asp-validation-for="InstructorId" class="text-danger"></span>
</div>
